@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yeseva-One';
  src: url('./YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-custom
}